%div
  = @article.title
%div
  = @article.description
%div
  = @article.flg_under_18
%ul
  - @article.article_comments.each do |comment|
    %li= comment.body




= form_tag create_comment_path(@article.id), method: :post do
  = text_field_tag "body"
  = submit_tag "create comment"
